# Ignore build and temp files
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.obj
*.exe
*.out
*.log

# Python build artifacts
*.pyd
*.so
__pycache__/
*.py[cod]
*$py.class
dist/
*.egg-info/
.eggs/
*.egg
